@font-face {
    font-family: 'santiagoregular';
    src: url('../assets/santiago/Santiago.eot'); /* IE9 Compat Modes */
    src: url('../assets/santiago/santiago-webfont.woff2') format('woff2'),
        url('../assets/santiago/santiago-webfont.woff') format('woff'),
        url('../assets/santiago/Santiago.ttf')  format('truetype'), /* Safari, Android, iOS */
       	url('../assets/santiago/Santiago.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}


#title{
	font-size: 36px;
	font-family: 'space_groteskmedium';
	font-weight: 600;
	letter-spacing: 0.005em;
	z-index: 10000000;
	color: black;

}

#title a{
	color: black;
	text-decoration: none;
	transition: font-size .2s;
}

/*#title a:hover{
	color: black;
	font-size: 38px;
}*/

.navBar{
	background-color: #F2F4F2;
	margin-left: 3vw;
	margin-right: 3vw;
	padding: 0.25%;
}

.navBar div a img{
	margin-left: 5px;
	margin-right: 5px;
	transition: transform .2s;
}

.navBar div a{
	text-decoration:  none;
}

.navBar div a img:hover{
	transform: scale(1.2);
}


#constantTitle{
	position: absolute;
	margin-left: 3vw;
	margin-right: 3vw;
	padding: 0.25%;
}

#splashRichard{
	color: white;
	font-family: 'Butler';
	font-weight: 900;
}

#iconsBar{
	text-align: center;
	padding-top: 0;
}

.navTitlesHolder{
	align-items: center;
	justify-content: center;
	display: flex;
}

.navTitle{
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	/*font-weight: 800;*/
	font-family: 'space_groteskmedium', sans-serif;
}


.navTitle a h6 {
	font-weight: 800;
	display: table-cell;
	vertical-align: middle;
	color: black;
}

.cover-menu{
	width: 95%;
	height: 100%;
	text-align: left;
	list-style-type: none;
	font-size: 140px;
	color:  white;
	line-height: 85%;
}

.cover-number{
	font-size: 12px;
	display: inline;
}

.cover-menu li div::before{
	font-size: 12px;
	font-family: 'space_grotesklight';
	content: attr(data-index);
}

html, body{
	font-family: 'space_groteskbold';
	background-color: black;
	margin: 0;
	height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}