@font-face {
    font-family: 'santiagoregular';
    src: url('../assets/santiago/Santiago.eot'); /* IE9 Compat Modes */
    src: url('../assets/santiago/santiago-webfont.woff2') format('woff2'),
        url('../assets/santiago/santiago-webfont.woff') format('woff'),
        url('../assets/santiago/Santiago.ttf')  format('truetype'), /* Safari, Android, iOS */
       	url('../assets/santiago/Santiago.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}


.projects-btn{
	font-size: 3vw;
	border: none;
	background: none;
	color: #383838;
	font-family: space_grotesksemibold;
	transition: opacity 0.1s ease-in-out;
	transition: color 0.5s;
	padding: 8%;
}

.list-group-item {
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	color: white;
	font-family: space_grotesklight;
	font-size: 1vw;
	text-decoration: none;
}

#projects-act-btn{
	color: white;
}

#projects-catButtons{
	opacity: 0;
}

.projects-btn span{
	transition: opacity 0.1s ease-in-out;
}

.projects-btn:hover span{
	opacity: 1;
}

.project-display-area div{
	position: absolute;
}


.projects-activity-span{
	height: 100%;
	width: 20vw;
	color: #383838;
	opacity: 0;
}

.centered{
	margin: 0 auto;
}

.contact-element{
	transform-origin: left center;
	transition: all .25s cubic-bezier(.175,.885,.32,1.275);
	transform: rotateY(0deg) translateZ(0);
}

.contact-element:hover {
	transform: rotateY(20deg) translateZ(0);
}

.contact-element::before{
	font-size: 12px;
	font-family: 'space_grotesklight';
	content: attr(data-index);
	margin-right: 5%;

}

.cover{
	/*padding-top: 30vh;*/
	color: white;
}

.cover-intro{
	color: white;
	position: absolute;
	bottom: calc(7.5vh + 67px);
	left: 132px;
}

.cover-intro h6{
	font-family: 'space_grotesklight';
}

.cover-header{
	padding-top: 5em;
	padding-bottom: 5em;
	color: white;
	margin-left: 9%;
	font-family: 'space_grotesklight';
}

.cover-header p{
	line-height: 1.6;
	margin: 0;
}

.cover-menu{
	width: 95%;
	height: 100%;
	text-align: left;
	list-style-type: none;
	font-size: 9vw;
	color:  white;
	line-height: 85%;

}

.cover-menu-element{
	margin-left: 6.25%;
	transition: transform 0.5s cubic-bezier(.075,.82,.165,1);
	z-index: 100;
	transform-style: preserve-3d;
	transform-origin: left center;
	font-family: 'space_groteskbold';
}

.cover-menu-subelement{
	text-align: left;
}

.cover-menu-subelement:hover{
	cursor: pointer;
}

.cover-menu-element:hover{
	transform: translateX(1vw);
}

.cover-menu-element button{
	color: transparent;
	transition: color .2s;
	transition: transform 1s;
	-webkit-text-stroke-width: 0.1vw;
  	-webkit-text-stroke-color: white;
  	text-decoration: none;
  	border: none;
	background: none;
}

.cover-menu-element button:hover{
	color: white;
	transition: color .2s;
  	text-decoration: none;
}



.cover-menu li div::before{
	font-size: 12px;
	font-family: 'space_grotesklight';
	content: attr(data-index);
}

#contactContainer{
	font-size: 1vw;
	font-family: space_groteskmedium;
	margin-left: 8%;
	line-height: 1vw;
}

.preview-area{
	border: 1px solid white;
}

.hl{
	border-bottom: 2px solid #383838;
}


.vl {
	border-left: 2px solid white;
}

.vert-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 50%;
}

a {
	text-decoration: none;
	color: white;
}

a:hover 
{
     color: inherit; 
     text-decoration:none;   
     cursor: pointer;
}

button:focus{
	outline: 0;
}

button:hover{
	cursor: pointer;
}

video{
	width: 100%;
	height: 100%;
}

html, body{
	font-family: 'space_groteskregular';
	background-color: #1e1e1e;
	margin: 0;
	height: 100%;
	color: white;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

