@font-face {
    font-family: 'santiagoregular';
    src: url('../assets/santiago/Santiago.eot'); /* IE9 Compat Modes */
    src: url('../assets/santiago/santiago-webfont.woff2') format('woff2'),
        url('../assets/santiago/santiago-webfont.woff') format('woff'),
        url('../assets/santiago/Santiago.ttf')  format('truetype'), /* Safari, Android, iOS */
       	url('../assets/santiago/Santiago.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}


#title{
	font-size: 36px;
	font-family: 'EB Garamond';
	font-weight: 600;
	letter-spacing: 0.005em;
	z-index: 10000000;
}

.navBar{
	background-color: #F2F4F2;
	margin-left: 3vw;
	margin-right: 3vw;
	padding: 0.25%;
}

#constantTitle{
	position: absolute;
	margin-left: 3vw;
	margin-right: 3vw;
	padding: 0.25%;
}

#splashRichard{
	color: white;
	font-family: 'Butler';
	font-weight: 900;
}

.navTitlesHolder{
	align-items: center;
	justify-content: center;
	display: flex;
}

.navTitle{
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
}


.navTitle a h6 {
	font-weight: 800;
	display: table-cell;
	vertical-align: middle;
	color: black;
}


body{
	font-family: 'Butler';
	background-color: grey;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}